/*
 * Copyright (c) 2017, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 *
 * WSO2 Inc. licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@font-face {
    font-family: "Roboto-Medium";
    src: url('../../fonts/Roboto-Medium.woff');
    src: local("Roboto-Medium"), url("../../fonts/Roboto-Medium.ttf") format("ttf");
    src: local("Roboto-Medium"), url("../../fonts/Roboto-Medium.woff") format("woff");
    src: local("Roboto-Medium"), url("../../fonts/Roboto-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../../fonts/Roboto-Regular.woff");
    src: local("Roboto-Regular"), url("../../fonts/Roboto-Regular.ttf") format("ttf");
    src: local("Roboto-Regular"), url("../../fonts/Roboto-Regular.woff") format("woff");
    src: local("Roboto-Regular"), url("../../fonts/Roboto-Regular.woff2") format("woff2");
}

/*Colors*/
.primary {
    color: white;
    background-color: #2196f3 !important;
}

.primary-flat {
    color: #2196F3 !important;
}

.danger {
    color: white;
    background-color: #e91e63 !important;
}

.danger-flat {
    color: #e91e63 !important;
}

.grey {
    color: #b3b3b3 !important;
}

/* ==================================================================== */
/* Custom button styles based on material design specs. */

.custom-raised {
    font-family: Roboto-Medium;
    text-transform: uppercase !important;
    font-size: 14px !important;
    padding-left: 16px !important;
    border-radius: 2px !important;
    padding-right: 16px !important;
    height: 36px !important;
    border: none !important;
}

.custom-raised:hover {
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08) !important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08) !important;
    background-color: #1976D2 !important;
}

.custom-raised:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    background-color: #1976D2 !important;
}

.custom-flat {
    font-family: Roboto-Medium;
    height: 36px !important;
    border-radius: 2px !important;
    margin-left: 8px !important;
    margin-right: 8px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    background-color: transparent !important;
    text-transform: uppercase;
    outline: none !important;
    border: none !important;
}

.custom-flat:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.12) !important;
}

.custom-flat:focus {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: rgba(0, 0, 0, 0.40) !important;
}

.circle-button {
    border-radius: 100% !important;
    height: 36px !important;
    width: 36px;
}

/* ==================================================================== */

/* Body Styling */
body {
    width: 100%;
    font-family: "Roboto-Regular" !important;
    font-size: 14px !important;
    background-color: #e8e8e8 !important;
}

.app-manager-title {
    font-family: "Roboto-Medium";
    font-size: 20px;
}

.app-manager-sub-title {
    font-family: "Roboto-Regular";
    font-size: 18px;
}

#app-mgt-footer {
    clear: both;
    position: relative;
    height: 50px;
    width: 100%;
    color: white;
    background-color: #334d88;
}

/* Login page styles*/
#userName {
    border-radius: 0;
}

#password {
    border-radius: 0;
}

.login-btn {
    float: right;
}

.login-header {
    background-color: #3f50b5;
    color: white;
    height: 128px;
    width: 100%;
    margin: 0 !important;
    padding: 20px;
    box-shadow: -2px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#login-card {
    width: 25%;
    height: 50%;
    margin: 10% auto;
    font-family: Roboto-Regular;
    font-size: 14px;
    border-radius: 0;
    background-color: #ffffff;
    box-shadow: -2px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-header-title {
    font-family: Roboto-Medium;
    font-size: 20px;
    font-weight: 500;
}

.login-header-logo {
    height: 70px;
    width: 150px;
}

.login-form {
    margin: 0 !important;
    padding: 40px;
}

/* Base layout container */

/* Base layout header content*/
.header-content {
    height: 128px !important;
    width: 100% !important;
    margin: 0 10px 0 0;
    background-color: #3f50b5 !important;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    z-index: 2;
    box-shadow: -2px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Contains the header styles.*/
.header {
    padding: 24px 24px 10px 24px;
    /*margin: 16px 16px 20px 16px;*/
    position: relative;
}

#header-text {
    color: #ffffff;
    font-size: 20px;
    font-family: Roboto-Medium;
    top: 10px;
    margin-left: 10px;
}

/* The buttons in the header (User and Notification)*/
.header-button-container {
    display: flex;
    justify-content: flex-end;
}

.header-user-name {
    font-family: Roboto-Medium;
    font-size: 14px;
    padding-top: 15px;
    color: white;
}

.header-image {
    height: 43px;
    width: 100px;
    margin-right: 24px;
}

#header-button {
    border-radius: 50%;
    background-color: transparent;
    border: none;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    position: relative;
    outline: none;
}

#header-button:hover {
    background-color: #4353bd;
    cursor: pointer;
}

#header-button i {
    position: absolute;
    bottom: 19px;
    left: 17px;
}

.btn-header {
    margin-top: 15px;
    margin-right: 20px;
    color: white;
}

#sub-title {
    font-family: Roboto-Regular;
    font-size: 18px;
    font-weight: 600;
    padding-top: 5px;
    padding-left: 18px;
    color: RGBA(0, 0, 0, 1);
}

/* Search box styles */
.search-box {
    display: flex;
    float: right;
}

.search-box i {
    position: absolute;
    top: 5px;
    color: #BaBaBa;
}

#search {
    position: relative;
    color: white;
    background-color: transparent;
    left: 15px;
    top: 0px;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 0%;
}

/* Application Add button */
#add-btn-container {
    position: absolute;
    top: 98px;
}

.add-btn {
    background-color: #ff5722;
}

.add-btn:hover {
    background-color: #E64A19;
}

#sub-title-container {
    height: 100px;
    padding: 50px 0 20px 0;
}

.application-container {
    padding: 0 !important;
    min-height: 100% !important;
    margin-top: 128px !important;
}

/* Holds the app publisher pages. */
.publisher-card {
    height: auto;
    background-color: white;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 24px;
}

.platform-link-placeholder {
    color: #888888;
    float: right;
    padding-bottom: 10px;
}

.platform-link-placeholder i {
    margin-right: 4px;
}

.application-list {
    transition: margin-right .5s;
}

#batch-content {
    display: flex;
    margin-top: 5px;
}

.app-list-icon {
    border-radius: 50%;
    height: 50px;
    width: 50px
}

.app-table-row {
    height: 62px;
    cursor: pointer;
    padding-top: 6px;
    font-family: "Roboto-Regular";
    font-size: medium;
}

.app-table-row:hover {
    color: white;
    background-color: #3f50b5;
}

.app-list-table-header {
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: "Roboto-Medium";
    font-size: 15px;
}

.app-view-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#app-visibility-default {
    display: none;
}

#app-image-screenshot {
    width: 300px;
    height: 300px;
}

#app-image-icon {
    width: 300px;
    height: 300px;
}

#app-image-banner {
    width: 400px;
    height: 300px;
}

#form-error {
    color: red;
}

.application-create-banner-dropzone {
    width: 300px;
    height: 150px;
    border-radius: 5%;
    position: relative;
    border: dashed #888888 2px;
}

.application-create-banner-dropzone i {
    position: absolute;
    top: 65px;
    left: 145px;
}

.application-create-screenshot-dropzone {
    width: 150px;
    height: 150px;
    margin: 0 5px 0 5px;
    border-radius: 10%;
    position: relative;
    border: dashed #888888 2px;
}

.application-create-screenshot-dropzone i {
    position: absolute;
    top: 65px;
    left: 65px;
}

.application-create-icon-dropzone {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    position: relative;
    border: dashed #888888 2px;
}

.application-create-icon-dropzone i {
    position: absolute;
    top: 65px;
    left: 65px;
}

#screenshot-container {
    max-width: 600px;
    display: flex;
    overflow-x: auto;
    height: 200px;
}

#app-icon-container {
    height: 300px;
    overflow-x: auto;
}

#modal-body-content {
    max-height: 700px;
    padding-left: 24px;
    overflow-y: auto;
}

.custom-footer {
    justify-content: inherit !important;
    margin: 0 !important;
}

.footer-main-btn {
    display: flex;
    justify-content: flex-end;
}

#img-btn-screenshot {
    margin: 0 5px 0 5px;
}

#app-create-modal {
    max-width: 850px;
    border-radius: 0% !important;
}

.app-create-modal-header {
    background-color: #4353bd;
    color: white;
    padding: 24px !important;
}

.app-create-modal-content {
    padding: 0 !important;
}

#store {
    border: none;
    border-bottom: solid #BDBDBD 1px;
    border-radius: 0px;
    width: 200px;
}

#version {
    border: none;
    border-bottom: solid #BDBDBD 1px;
    border-radius: 0px;
    width: 200px;
}

#app-release-switch-content {
    display: flex;
}

#app-release-switch-label {
    position: absolute;
    float: left;
}

#app-release-switch {
    position: absolute;
    right: 10px;
}

.image-sub-title {
    font-style: italic;
    font-size: 12px;
    color: #818181;
}

/* Application View */

#application-view-content {
    width: 100%;
}

#application-view-row {
    margin: 10px 10px 0 20px;
}

#app-icon {
    height: 100px;
    width: 100px;
    border: solid 1px black;
    border-radius: 50%;
}

.app-updated-date {
    color: #888888;
}

.app-install-count {
    font-style: italic;
}

.app-details-tbl {
    outline: none;
    border-color: #2196F3;
}

.app-details-tbl tr {
    margin: 20px 0 0 0;
}

.app-details-tbl td {
    margin-left: 10px;
    max-width: 400px;
}

/* Application Edit Base Layout */

#application-edit-header {
    height: 40px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}

.application-header-text {
    margin: 10px 0px 0px 10px;
}

#save-btn-content {
    float: right;

}

#app-save-btn {
    border-radius: 0%;
}

.save-btn {
    margin: 5px 5px 5px 0px;
    height: 70%;
    width: 50%;
    float: right;
}

.save-btn:hover {
    cursor: pointer;
}

/*Tab styling*/

div.tab {
    float: left;
    border-right: 1px solid #d8d8d8;
    height: 100%;
}

/* Style the tab buttons */

div.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 15px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */

div.tab button:hover {
    background-color: #ddd6d7;
    cursor: pointer;
}

/* Create an active/current "tab button" class */

div.tab button.active {
    background-color: #1b3bcc;
    color: white;
}

#application-edit-main-container {
    display: flex;
}

#application-edit-outer-content {
    height: auto;
}

#app-edit-content {
    height: 100%;
    position: relative;
}

.back-to-app {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.back-to-app i {
    padding: 12px 10px 10px 12px;
}

.back-to-app:hover {
    cursor: pointer;
    background-color: #dedede;
    transition: .5s;
}

/* Create Release and Release management */

.release-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.release-create {
    height: 150px;
    margin-bottom: 20px;
}

.release-detail-content {
    width: 100%;
    margin-top: 20%;
    height: 300px;
}

.form-btn {
    float: right;
    margin-bottom: 10px;
}

.release-content {
    height: 180px;
    width: 95%;
    border: dashed 1px #626262;
    border-radius: 2%;
    position: relative;
    background-color: #e8e8e8;
}

.release-content:after {
    content: "";
    letter-spacing: 4px;
}

.release {
    margin: 30px 10px 20px 30px;
}

.no-release-content {
    position: absolute;
    margin-top: 10px;
    left: 40%;
}

.button-add:hover {
    cursor: pointer;
}

.release-inner {
    margin-top: 5%;
}

/* Application Edit General Info */

.app-edit-general-info {
    margin-top: 20px;
    max-width: 100%;
}

.save-info {
    float: right;
    margin-bottom: 10px;
}

.app-view-field {
    font-family: Roboto-Medium;
    font-size: 14px;
}

.app-view-text {
    font-family: Roboto-Regular;
    font-size: 14px;
}

/* Platform Specific Styles. */
#platform-listing {
    margin: 10px;
}

.create-platform i {
    margin-right: 10px;
}

#platform-list {
    margin-top: 20px;
    display: flex;
    flex-flow: wrap;
}

.platform-content {
    margin: 10px;
    padding-top: 16px;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.platform-content .row {
    margin: 0;
}

.platform-content .col {
    padding: 0;
}

.platform-content-basic {
    padding: 0 16px 0 16px;
    display: flex;
}

.platform-content-more-outer {

}

.platform-content-more {
    padding: 16px 16px 24px 16px;
}

.platform-content-footer {
    display: flex;
    padding: 8px 8px 8px 8px;
}

.platform-text-container {
    padding: 8px 16px 0 16px;
}

.circle-button {
    float: right;
}

.platform-icon-letter {
    text-align: center;
    text-transform: uppercase;
    font-family: Roboto-Medium;
    font-size: 70px;
    color: white;
    padding-top: 15px;
}

.platform-icon-container {
    height: 120px;
    width: 120px;
    background-color: #01579B;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08) !important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08) !important;
}

.platform-property-container {
    padding-top: 20px;
    font-family: Roboto-Regular;
    font-size: 14px;
}

.platform-property-row {
    align-items: center;
}

.circle-btn-clear {
    background-color: white !important;
    color: rgba(0, 0, 0, 0.50) !important;
}

.circle-btn-clear:hover {
    background-color: white !important;
    color: rgba(0, 0, 0, 0.38) !important;
}

.circle-btn-clear:focus {
    background-color: white !important;
    color: rgba(0, 0, 0, 0.60) !important;
}

.data-table-row-cell {
    padding-top: 14px;
}

.error-code {
    text-align: center;
    font-family: Roboto-Medium;
    font-weight: 800;
    font-size: 15em;
    color: #BaBaBa;
}

.error-code p {

}

.error-text {
    text-align: center;
    font-family: Roboto-Regular;
    font-size: 14px;
    font-weight: 500;
    color: #9e9e9e;
}

.circle-btn-add {
    background-color: #bababa !important;
    border-radius: 50% !important;
    height: 30px !important;
    width: 30px;
    text-align: -webkit-center;
    font-size: 18px;
    padding: 6px !important;
}

.circle-btn-add:hover {
    background-color: #828282 !important;
}

/**
    If you need to change the color of active steps in stepper,
    uncomment the following and set the background color and font color as needed.
*/
/*
.stepper-active-index {
    background-color: #0a6eff !important;
    color: white !important;
}

.stepper-passed-index {
    background-color: #0a6eff !important;
    color: green !important;
}
*/
