{{#zone "content"}}
    {{#if isAuthorized}}
        <span id="logged-in-user" class="hidden" data-username="{{@user.username}}" data-domain="{{@user.domain}}"
              data-tenant-id="{{@user.tenantId}}" data-iscloud="{{isCloud}}"
                data-corrective-policies="{{correctivePolicies}}"></span>
        {{#defineZone "policy-profile-top"}}
            <div class="row wr-device-board">
                <div class="col-lg-12 wr-secondary-bar">
                    <label id="policy-heading" class="device-id device-select">
                    </label>
                </div>
            </div>
        {{/defineZone}}
        <span id="policy-operations" class="hidden" data-template="{{template}}" data-script="{{script}}"
              data-style="{{style}}"></span>
        <!-- #page-content-wrapper -->
        <div class="page-content-wrapper">
            <div class="row no-gutter add-padding-5x add-margin-top-5x" style="border: 1px solid #e4e4e4;">
                <div class="media">
                    <div style="background: #008cc4; color: #fff; padding: 10px; margin-bottom: 5px">
                        Policy Overview
                    </div>
                    {{#defineZone "policy-detail-properties"}}
                        <table class="table table-responsive table-striped" id="members">
                            <tbody>
                            <tr role="row" class="even">
                                <td class="sorting_1" style="padding:10px 15px; width: 14%;">Platform</td>
                                <td id="policy-platform" style="padding:10px 15px;"></td>
                            </tr>
                            <tr role="row" class="odd">
                                <td class="sorting_1" style="padding:10px 15px;">Groups</td>
                                <td id="policy-groups" style="padding:10px 15px;"></td>
                            </tr>
                            <tr role="row" class="even">
                                <td class="sorting_1" style="padding:10px 15px;">Action upon non-compliance</td>
                                <td id="policy-action" style="padding:10px 15px;"></td>
                            </tr>
                            <tr role="row" class="odd">
                                <td class="sorting_1" style="padding:10px 15px;">Status</td>
                                <td id="policy-status" style="padding:10px 15px;"></td>
                            </tr>
                            <tr role="row" id="users-row" class="even">
                                <td class="sorting_1" style="padding:10px 15px;">Assigned Users</td>
                                <td id="policy-users" style="padding:10px 15px;"></td>
                            </tr>
                            <tr role="row" id="roles-row" class="even">
                                <td class="sorting_1" style="padding:10px 15px;">Assigned Roles</td>
                                <td id="policy-roles" style="padding:10px 15px;"></td>
                            </tr>
                            <tr role="row" id="roles-row" class="even">
                                <td class="sorting_1" style="padding:10px 15px;">Policy Type</td>
                                <td id="policy-type" style="padding:10px 15px;"></td>
                            </tr>
                            </tbody>
                        </table>
                    {{/defineZone}}
                    <div id="policy-corrective-actions-list" class="hidden">
                        <div style="background: #008cc4; color: #fff; padding: 10px; margin-bottom: 5px">
                            Corrective Actions
                        </div>
                        <div class="add-margin-top-4x">
                            <div id="policy-corrective-actions">
                                <table class="table table-responsive table-striped">
                                    <tbody>
                                        <tr role="row">
                                            <td class="sorting_1" style="padding:10px 15px; width: 14%;">Action Type</td>
                                            <td style="padding:10px 15px;">POLICY</td>
                                            <td class="sorting_1" style="padding:10px 15px; width: 14%;">Policy ID</td>
                                            <td id="corrective-action-type-policy-id" style="padding:10px 15px;"></td>
                                        </tr>
                                        <tr id="corrective-action-policy-id-missing-msg">
                                            <td class="alert alert-danger" colspan="4" style="padding:10px 15px;">
                                                <strong>
                                                    <i class="icon fw fw-error"></i>
                                                    Corrective policy having the above Policy ID has been updated to
                                                    a GENERAL policy or it has been deleted. Hence this policy will
                                                    not be applied till modified correctly.
                                                </strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div style="background: #008cc4; color: #fff; padding: 10px; margin-bottom: 5px">Description
                    </div>
                    <div class="add-margin-top-4x">
                        <div id="policy-description" class="panel-title-description"></div>
                    </div>
                    <br>
                    <div style="background: #008cc4; color: #fff; padding: 10px; margin-bottom: 5px">
                        Profile Information
                    </div>
                    <div class="add-margin-top-4x">
                        <div id="policy-profile-main-error-msg" class="alert alert-danger hidden" role="alert">
                            <i class="icon fw fw-error"></i><span></span>
                        </div>
                        <div class="wr-advance-operations">
                            <div class='wr-advance-operations-init'>
                                <br/>
                                <i class='fw fw-settings fw-spin fw-2x'></i>
                                Loading Platform Features . . .
                                <br/>
                                <br/>
                            </div>
                            <div id="device-type-policy-operations" class="hidden">
                            </div>
                            <div id="generic-policy-operations" class="hidden">
                                {{unit "cdmf.unit.device.type.generic.policy-view"}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{else}}
        <h1 class="page-sub-title">
            Permission Denied
        </h1>
        <br>
        You not authorized to enter Policy Management Section.
        <br>
    {{/if}}
{{/zone}}
{{#zone "bottomJs"}}
    {{js "js/view.js"}}
{{/zone}}